nav{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
form{
    background-color: wheat !important;
    padding-left: 10px;
    border-style:solid;
    border-width: 1px;
    padding-top: 10px;
    color: black;
    font-weight: bold;
}
html body{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    margin: 0 !important;
    padding: 0 !important;
}
.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}

.blogwrap:nth-child(odd){
    background-color: wheat !important;
    text-align: right;
    padding:20px;
    width: 100%;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    color: black;
}

.blogwrap:nth-child(even){
    background-color: #fffbee;
    padding: 20px;
    margin-top: 0 !important;
    width: 100%;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
}

.btn{
    background-color: white !important;
    text-align: center !important;
    padding: 5px !important;
    display: inline-block !important;
    margin-bottom: 10px !important;
    border-style: solid !important;
    border-width: 0.5px !important;
    border-color: black !important;
    border-radius: 2em;
}

.blogwrap:nth-child(even) a{
    background-color: #aba27d;
    color: white;
    padding: 10px !important;
    display: inline-block !important;
    text-align: right !important;
    border-radius: 2em;
    padding-left:15px !important;
    padding-right:15px !important;
    border-style: solid !important;
    border-color: black!important;
    border-width: 0.5px;
}

.blogwrap:nth-child(odd) a{
    background-color: white;
    color: black;
    padding: 10px !important;
    display: inline-block !important;
    text-align: left !important;
    border-radius: 2em;
    padding-left:15px !important;
    padding-right:15px !important;
    border-style: solid !important;
    border-width: 0.5px;
}
.blogwrap:nth-child(even) a:hover{
    background-color: indianred;
    opacity: 80%;
}
.blogwrap:nth-child(odd) a:hover{
    background-color: indianred;
    opacity: 80%;
}
.error{
    color: red !important;
    font-weight: bold;

}
.blogwrap:nth-child(odd) .delbtn{
    text-align: left !important;
    margin-left: 10%;
}
.blogwrap:nth-child(even) .delbtn{
    text-align: right !important;
    margin-right: 10%;
}